.container_inactive {
    height: 40px;
    font-weight: bold;
    background: transparent;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
    opacity: .3;
    cursor: default;
}
.container {
    height: 40px;
    font-weight: bold;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
}
.container:hover {
    background: transparent;
    color: black;
}
