.visible {
    overflow: hidden;
    border: 2px solid black;
    padding: 10px;
    border-radius: 7px;
    margin: 14px;
    /*box-shadow: 0 3px 7px rgba(0, 0, 0, 0.342);*/
}
.invisible {
    overflow: hidden;
    margin: 14px;
}
.inner_grid {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.inner_block {
    box-sizing: border-box;
    display: block;
}
.h3 {
    font-size: 1.3rem;
    margin: 5px 0;
    color: black;
}
